.masthead__inner-wrap,
.page__content {
  margin-left: 2rem;
  margin-right: auto;
}

.greedy-nav {
  display: flex !important;
  align-items: center !important;
  flex-wrap: nowrap !important;
}

.greedy-nav .visible-links {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  gap: 1.5rem;
}

.greedy-nav button,
.greedy-nav .hidden-links {
  display: none !important;
}
