<ul class="visible-links">
  <!-- 固定 Home -->
  <li class="masthead_menu-item">
    <a href="{{ base_path }}/">Home</a>
  </li>

  <!-- 右移其他导航 -->
  <div style="margin-left: 3rem; display: flex;">
    {% for link in site.data.navigation.main %}
      {% if link.title != "Home" %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = base_path %}
        {% endif %}
        <li class="masthead_menu-item">
          <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </div>

  <!-- 主题切换按钮 -->
  <li id="theme-toggle" class="masthead_menu-item persist tail">
    <a><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
  </li>
</ul>
