.navbar-nav li a[href="publications"] {
  margin-left: 200px; /* 导航栏调整 */
}

/* 清除 details 摘要按钮前多余的空行 */
details {
  margin-top: 0 !important;
  margin-bottom: 0.5em;
  padding: 0 !important;
}

details summary {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  background-color: lightgreen !important;
}
